/* Estilos Generales */
body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: lightblue;
    color:  #333 ;
    }

header{
    background: lightcoral;
    color: #ffffff ;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline
}

nav ul li a {
    color: white;
    text-decoration: none;
}


/* Secciones */
section {
    padding: 20px;
    margin-top: 20px;
    background-color: #eadede;
    border: 1px solid #eadede ;
}


/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}
